.cart-dropdown {
  position: absolute;
  width: 260px;  //original value 240 hti bt mra cart ma set nti thti so me 260 kri che
  height: 380px;   //original value 360 hti bt mra cart ma set nti thti so me 380 kri che
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message{
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 320px;  //original value 240 hti bt mra cart ma set nti thti so me 320 kri che
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
